<div class="psa-show">
  <h3>PSA Show - Teste</h3>
  <p>Paciente: <%= @scale_response.patient.full_name %></p>
  <p>Pontuação: <%= @scale_response.total_score %></p>
  <p>Interpretação: <%= @scale_response.interpretation %></p>
  
  <!-- Teste do método formatted_answers -->
  <% begin %>
    <% answers = @scale_response.formatted_answers %>
    <p>Respostas formatadas: <%= answers.count %> itens</p>
    <% if answers.any? %>
      <p>Primeira resposta: <%= answers.first.inspect %></p>
    <% end %>
  <% rescue => e %>
    <p>Erro no formatted_answers: <%= e.message %></p>
    <p>Backtrace: <%= e.backtrace.first(5).join('<br>') %></p>
  <% end %>
</div>
