<div id="<%= dom_id professional %>">
  <p>
    <h2><%= professional.full_name %></h2>
  </p>

  <p>
    <strong>Gênero:</strong>
    <%= professional.gender == "male" ? "Masculino" : "Feminino" %>
  </p>

  <p>
    <strong>Data de Nascimento:</strong>
    <%= professional.birthday %> (<%= professional.age %> anos)
  </p>

  <p>
    <strong>Data de Início:</strong>
    <%= professional.started_at %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= professional.email %>
  </p>

  <p>
    <strong>CPF:</strong>
    <%= professional.cpf %>
  </p>

  <p>
    <strong>RG:</strong>
    <%= professional.rg %>
  </p>

  <p>
    <strong>Endereço:</strong>
    <%= professional.current_address %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= professional.current_phone %>
  </p>

  <p>
    <strong>ID Profissional:</strong>
    <%= professional.professional_id %>
  </p>
</div>
