<p style="color: green"><%= notice %></p>

<%= render @professional %>

<div>
  <%= link_to t('professionals.show.edit_link'), edit_professional_path(@professional) %> |
  <%= link_to t('professionals.show.back_link'), professionals_path %>

  <%= button_to t('professionals.show.destroy'), @professional, method: :delete, data: { confirm: t('professionals.show.confirm_destroy') } %>
</div>
