<% content_for :title, @professional.full_name %>

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h1 class="card-title mb-0">
            <i class="bi bi-person-badge me-2"></i>
            <%= @professional.full_name %>
          </h1>
        </div>
        <div class="card-body">
          <%= render @professional %>
        </div>
        <div class="card-footer">
          <div class="btn-group" role="group">
            <%= link_to t('professionals.show.edit_link'), edit_professional_path(@professional), class: 'btn btn-primary' %>
            <%= link_to t('professionals.show.back_link'), professionals_path, class: 'btn btn-secondary' %>
            <%= button_to t('professionals.show.destroy'), @professional, method: :delete, 
                data: { confirm: t('professionals.show.confirm_destroy') }, 
                class: 'btn btn-danger' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
