<div id="<%= dom_id patient %>">
  <p>
    <h2><%= patient.full_name %></h2>
  </p>

  <% if professional_or_admin? %>
    <p>
      <strong>Gênero:</strong>
      <%= patient.gender == "male" ? "Masculino" : "Feminino" %>
    </p>
  <% end %>

  <p>
    <strong>Data de Nascimento:</strong>
    <%= patient.birthday %> (<%= patient.age %> anos)
  </p>

  <p>
    <strong>Email:</strong>
    <%= patient.email %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= patient.cpf %>
  </p>


</div>
