<div id="<%= dom_id patient %>">
  <p>
    <strong>Full name:</strong>
    <%= patient.full_name %>
  </p>

  <p>
    <strong>Gênero:</strong>
    <%= patient.gender == "male" ? "Masculino" : "Feminino" %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= patient.birthday %>
  </p>

  <p>
    <strong>Started at:</strong>
    <%= patient.started_at %>
  </p>


  <p>
    <strong>Email:</strong>
    <%= patient.email %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= patient.cpf %>
  </p>

  <p>
    <strong>Rg:</strong>
    <%= patient.rg %>
  </p>

  <p>
    <strong>Current address:</strong>
    <%= patient.current_address %>
  </p>

  <p>
    <strong>Current phone:</strong>
    <%= patient.current_phone %>
  </p>


</div>
