<p style="color: green"><%= notice %></p>

<% content_for :title, t('patients.index.title') %>

<h1><%= t('patients.index.title') %></h1>

<div id="patients">
  <% @patients.each do |patient| %>
    <%= render patient %>
    <p>
      <%= link_to t('patients.index.show_link'), patient %>
    </p>
  <% end %>
</div>

<%= link_to t('patients.index.new_link'), new_patient_path %>
