<p style="color: green"><%= notice %></p>

<%= render @patient %>

<div>
  
    
    <% if user_signed_in? && (current_user.email == "admin@admin.com" || current_user.account_type == "Professional") %>
      <div class="d-flex justify-content-around gap-2 col-md-3">

        <%= link_to t('patients.show.back_link'), patients_path, class: 'btn btn-primary', data: { turbo_method: :get } %>
        <%= link_to t('patients.show.edit_link'), edit_patient_path(@patient), class: 'btn btn-secondary' %>
   
        <%= button_to t('patients.show.destroy'), @patient, method: :delete, data: { confirm: t('patients.show.confirm_destroy'), turbo_confirm: t('patients.show.confirm_destroy') }, class: 'btn btn-danger' %>
      </div>
    <% end %>

  


<hr/>
<div class="d-flex gap-2">
  <div class="col-md-3">
    <h2>Escalas Solicitadas</h2>
  </div>
  <% if user_signed_in? && (current_user.email == "admin@admin.com" || current_user.account_type == "Professional") %>
    <div class="col-md-3">
       <%= link_to new_scale_request_path, 
          class: 'btn btn-warning',
          data: { turbo_frame: "_top" } do %>
        <i class="bi bi-plus-circle me-2"></i>
        <%= t('scale_requests.new.button') %>
      <% end %>
    </div>
  <% end %>

</div>

<% if @pending_requests.present? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t('dashboards.patients.scale_col') %></th>
        <th><%= t('patients.show.professional_col') %></th>
        <th><%= t('dashboards.patients.requested_at_col') %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @pending_requests.each do |req| %>
        <tr>
          <td><%= req.psychometric_scale.name %></td>
          <td><%= req.professional.full_name %></td>
          <td><%= l(req.requested_at, format: '%d/%m/%Y %H:%M') %></td>
          <td>
            <% if req.pending? && req.scale_response.nil? %>
              <% if req.psychometric_scale.code.in?(["SRS2SR", "SRS2HR"]) %>
                <%= link_to new_srs2_scale_response_path(scale_request_id: req.id), 
                    class: 'btn btn-sm btn-warning' do %>
                  <i class="bi bi-pencil-square me-1"></i>
                  Responder Questionário
                <% end %>
              <% else %>
                <%= link_to new_scale_response_path(scale_request_id: req.id), 
                    class: 'btn btn-sm btn-warning' do %>
                  <i class="bi bi-pencil-square me-1"></i>
                  Responder Questionário
                <% end %>
              <% end %>
            <% else %>
              <%= link_to "Ver Solicitação", scale_request_path(req), class: 'btn btn-sm btn-outline-primary' %>
            <% end %>
            <% if user_signed_in? && (current_user.email == "admin@admin.com" || current_user.account_type == "Professional") %>
              <%= link_to t('scale_requests.actions.cancel'), cancel_scale_request_path(req),
                  data: { turbo_method: :patch, turbo_confirm: t('scale_requests.actions.confirm_cancel') },
                  class: 'btn btn-sm btn-outline-danger ms-2' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p><%= t("Sem solicitações pendentes.") %></p>
<% end %>

<h2 class="mt-4">Escalas Respondidas</h2>
<% if @completed_requests.present? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t('Escala') %></th>
        <th><%= t('Solicitação') %></th>
        <th><%= t('Preenchimento') %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @completed_requests.each do |req| %>
        <% resp = req.scale_response %>
        <tr>
          <td>
            <%= req.psychometric_scale.name %>
            <% if req.psychometric_scale.code == "SRS2HR" %>
              <span>- <%= req.scale_response.relator_name %> (<%= req.scale_response.relator_relationship %>)</span>
            <% end %>
          </td>
          <td><%= l(req.requested_at, format: '%d/%m/%Y %H:%M') %></td>
          <td><%= resp&.completed_at ? l(resp.completed_at, format: '%d/%m/%Y %H:%M') : '-' %></td>
          <td>
            <% if resp %>
              <% if resp.psychometric_scale.code == "SRS2SR" %>
                <%= link_to "Ver Interpretação", srs2_scale_response_path(resp), class: 'btn btn-sm btn-warning' %>
                
              <% else %>
                <%= link_to "Ver Respostas", scale_response_path(resp), class: 'btn btn-sm btn-outline-primary' %>
              <% end %>
              
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p><%= t("Sem solicitações pendentes.") %></p>
<% end %>

