<p style="color: green"><%= notice %></p>

<%= render @patient %>

<div>
  <%= link_to t('patients.show.edit_link'), edit_patient_path(@patient) %> |
  <%= link_to t('patients.show.back_link'), patients_path %>

  <%= button_to t('patients.show.destroy'), @patient, method: :delete, data: { confirm: t('patients.show.confirm_destroy') } %>
</div>
