<h1><%= t('scale_requests.index.title') %></h1>

<div class="mb-3 d-flex gap-2">
  <%= link_to t('scale_requests.filters.all'), scale_requests_path, class: 'btn btn-outline-secondary' %>
  <%= link_to t('scale_requests.filters.pending'), pending_scale_requests_path, class: 'btn btn-outline-secondary' %>
  <%= link_to t('scale_requests.filters.completed'), completed_scale_requests_path, class: 'btn btn-outline-secondary' %>
  <%= link_to t('scale_requests.filters.cancelled'), cancelled_scale_requests_path, class: 'btn btn-outline-secondary' %>
  <%= link_to t('scale_requests.new.link'), new_scale_request_path, class: 'btn btn-primary ms-auto' %>
  
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('scale_requests.table.patient') %></th>
      <th><%= t('scale_requests.table.scale') %></th>
      <th><%= t('scale_requests.table.status') %></th>
      <th><%= t('scale_requests.table.requested_at') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @scale_requests.each do |req| %>
      <tr>
        <td><%= req.patient.full_name %></td>
        <td><%= req.psychometric_scale.name %></td>
        <td><%= req.status %></td>
        <td><%= l(req.requested_at, format: :short) %></td>
        <td>
          <%= link_to t('actions.show'), scale_request_path(req), class: 'btn btn-sm btn-outline-primary' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>ScaleRequests#index</h1>
<p>Find me in app/views/scale_requests/index.html.erb</p>
