<h1><%= t('scale_requests.show.title') %></h1>

<dl class="row">
  <dt class="col-sm-3"><%= t('scale_requests.table.patient') %></dt>
  <dd class="col-sm-9"><%= @scale_request.patient.full_name %></dd>

  <dt class="col-sm-3"><%= t('scale_requests.table.scale') %></dt>
  <dd class="col-sm-9"><%= @scale_request.psychometric_scale.name %></dd>

  <dt class="col-sm-3"><%= t('scale_requests.table.status') %></dt>
  <dd class="col-sm-9"><%= @scale_request.status %></dd>

  <dt class="col-sm-3"><%= t('scale_requests.table.requested_at') %></dt>
  <dd class="col-sm-9"><%= l(@scale_request.requested_at, format: :short) %></dd>
</dl>

<div class="mt-3 d-flex gap-2">
  <% if @scale_request.pending? %>
    <%= link_to t('scale_requests.actions.cancel'), cancel_scale_request_path(@scale_request), data: { turbo_method: :patch }, class: 'btn btn-warning' %>
  <% end %>
  <%= link_to t('actions.back'), scale_requests_path, class: 'btn btn-secondary' %>
  <% if @scale_request.pending? %>
    <%= link_to t('dashboards.patients.fill_scale'), new_scale_response_path(scale_request_id: @scale_request.id), class: 'btn btn-primary ms-auto' %>
  <% end %>
</div>

<h1>ScaleRequests#show</h1>
<p>Find me in app/views/scale_requests/show.html.erb</p>
