<h1><%= t('dashboards.patients.title') %></h1>

<% if @patient %>
  <dl class="row">
    <dt class="col-sm-3"><%= t('activerecord.attributes.patient.full_name') %></dt>
    <dd class="col-sm-9"><%= @patient.full_name %></dd>

    <dt class="col-sm-3"><%= t('activerecord.attributes.patient.birthday') %></dt>
    <dd class="col-sm-9">
      <% if @patient.birthday %>
        <%= l(@patient.birthday) %>
      <% else %>
        —
      <% end %>
    </dd>

    <dt class="col-sm-3"><%= t('activerecord.attributes.patient.email') %></dt>
    <dd class="col-sm-9"><%= @patient.email %></dd>

    <dt class="col-sm-3"><%= t('activerecord.attributes.patient.cpf') %></dt>
    <dd class="col-sm-9"><%= @patient.cpf %></dd>
  </dl>
<% else %>
  <p><%= t('dashboards.patients.not_found') %></p>
<% end %> 